#background {
    background: url(../../assets/img/background.png) no-repeat !important;
    background-size: 100% 100% !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

#logo {
    background: url(../../assets/img/logo.png)
}

#message {
    color: white;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 5px 20px;
}

#forms {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 5px 20px;
}

#form {
    text-align: center;
}